


:root {
    --primary: #000000;
    --background: #ffffff;
    --background-bg: #0059ff;
    --secondary-bg: #0A0A0A;
    --secondary-border: #242424;
    --secondary-bg-hover:  #56caff;
    --gray: #847F90;
    --gray-hover: #171717;
    --primary-hover: #555555;
    --link-gray: #ffffff;
    --navigation-bg: #2c2d2e;
    --link-gray-hover: #1F1F1F;
    --gray: #E1E1E1;
    --gray-border: #56caff;
    --dropdown-bg: #0059ff;
    --tab-bg: #ffffff;
    --white: #56caff;
    --navbar-height: 64px;
    --primary-bg: #EDEDED;
    --primary-bg-hover: #CCCCCC;
    --primary-text: #0E0E0E;
    --third-bg: #56caff;
    --third-bg-hover:#ffffff;
    --third-text:#000000;
    --third-text-hover:rgb(255, 145, 2);
    --footer-bg:#518040;
}

body {
    font-size: 16px;
    background: var(--background);
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
.menu__wrapper {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    gap: 1.5rem; 
    background: var(--background-bg);
    height: var(--navbar-height);
    padding: 0 0.8rem;
    margin: 0 0;
    align-items: center;
    box-shadow: 0 1px 0 0 
        rgba(0, 0, 0, .1);
}

.menu__bar {
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo img {
    fill: var(--primary);
}

.navigation {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
    padding-left: 280px;
    position: relative;
}

.navigation>li {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    min-height: 2.25rem;
    padding: 0.25rem 0.6125rem;
    font-weight: 600;
}

.navigation>li>a {
    color: var(--link-gray);
    font-size: 0.9rem;
    text-decoration: none;
    transition: all 0.3s ease;
    justify-items: end;
    font-family: "open sans", sans-serif;
    padding: 0.25rem 10%;
    position: flex;
}

.navigation>li>a:hover {
    color: var(--white);
}

.navigation>li>button {
    color: var(--link-gray);
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    margin-right: -0.25rem;
    align-items: center;
    min-height: 2.25rem;
    font-size: 0.5rem;
    gap: 0.25rem;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: nowrap;
    border-radius: 10rem;
    padding: 0.25rem 0.6125rem;
    white-space: nowrap;
    background: none;
    display: flex;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.navigation>li>button>svg {
    margin-top: 2px;
    fill: var(--link-gray);
    transition: all 0.2s ease-in-out;
}

.navigation>li:hover>button svg {
    fill: var(--link-gray-hover);
    rotate: 180deg;
}

.navigation>li:hover>button {
    color: var(--link-gray-hover);
    background: var(--gray);
}

.navigation>li:hover .dropdown, 
.navigation>li:focus-within .dropdown {
    display: block;
}

.sidebar-boton{
        list-style: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.99) 
        translateY(-0.7em);
        transform-origin: top;
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.dropdown__wrapper {
    position: absolute;
    top: 0;
    left: 1;
    padding-top: 3.75rem;
}

.dropdown {
    border-radius: 0.5rem;
    background: var(--dropdown-bg);
    display: none;
    padding: 0.5rem;
    width: 100%;
    max-width: 36rem;
    border: 1px solid var(--gray-border);
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
}

.list-items-with-description {
    list-style-type: none;
    display: Flex;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.list-items-with-description li {
    display: flex;
    padding: 0.5rem;
    gap: 20rem;
    width: 100%;
    transition: all 0.2s ease-in-out;
    border-radius: 0.375rem;
    

}


.list-items-with-description li svg {
    stroke: var(--white);
    stroke-width: 1px;
    width: 1.5rem;
    height: 1.5rem;
}
 
.item-title h1 {
    font-size: 0.875rem;
    color: var(--link-gray);
    /* alinear en la navbar */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-weight: 600;
}
.item-title h3 {
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--link-gray);
}

.item-title p {
    font-size: 0.7rem;
    white-space: nowrap;
    color: var(--link-gray);
}


.list-items-with-description li:hover p {
    color: var(--white);
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: nowrap;
}

.action-buttons a {
    text-decoration: none;
    font-size: 0.875rem;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease-in-out;
    line-height: 1.25rem;
}
.third {
    color: var(--third-text);
    border-radius: 6px;
    background-color: var(--third-bg);
    padding: 0.5rem 5rem;
    border: 1px solid var(--gray-border);
    z-index: 2;
    position: relative;
}

.third:hover {
    position: relative;
    background: var(--third-bg-hover);
    z-index: 3;
    color: var(--third-text-hover);
}
.third::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        rgb(0, 102, 255), rgb(0, 255, 255), #0059ff,
        rgb(0, 102, 255), rgb(0, 255, 255), #0059ff
    );
    background-size:  400%;
    filter: blur(8px);
    border-radius: 10px;
    border: #0004ff;
    animation: glowing 20s linear infinite;
    z-index: -1;
 }

 @keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 500% 0;
    }
    100%{
        background-position: 0 0;
    }
 }
.secondary {
    background: none;
    color: var(--primary-bg);
    outline: none;
    border: 1px solid var(--gray-border);
    border-radius: 6px;
}

.secondary:hover {
    background: var(--secondary-bg-hover);
}

.primary {
    color: var(--primary-text);
    border-radius: 6px;
    background: var(--primary-bg);
    padding: 0.5rem 1rem;
}

.primary:hover {
    background: var(
        --primary-bg-hover
    );
}

.burger-menu {
    display: none;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

@media (max-width: 730px) {
    .hide {
        display: none;
    }

    .burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        min-width: 2rem;
        min-height: 2rem;
        pointer-events: all;
        gap: 0.25rem;
        flex-direction: column;
        border: 1px solid var(--gray-border);
    }

    .burger-menu svg {
        height: 1.25rem;
        stroke: var(--link-gray);
        width: 1.25rem;
    }
    .navigation{
        display: block;
        position: flex;
        translate: -300px;
    }
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        background: #78a6fc;
        z-index: 999;
        min-width: 180px ;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
      }
    
      .sidebar-boton{
        display: flex;
        position: relative;
        translate: translate(-100%);
        padding-right: 0px;
        margin: 0px;

      }

  .menu-wrapper {
    position: relative; /* Para posicionar el menú desplegable */
  }
  
  .dropdown-wrapper {

    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    transform: translateY(-10px); /* Inicialmente oculto */
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-wrapper.active .dropdown-wrapper {
    transform: translateY(0); /* Despliega el menú */
  }
  
  .burger-menu:checked + .menu-wrapper {
    .dropdown-wrapper {
      transform: translateY(0);
    }
  }
}

  @media (min-width: 730px) { 
.sidebar {
      margin-top: 0.8rem;
      display: flex;
      position: end;
    }
.navigation{
    display: flex;
    flex-wrap: nowrap;
    padding: 0%;
}

}
 .show {
    transform: translateX(0);
  }

  /*carrusel*/
  .body-inicio{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555555;
    background: linear-gradient(to right, #000000, #222222);
    padding: 10px;
    
}

  .container-carousel{
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #0E0E0E;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.3);
    border-radius: 15px;
    overflow: hidden;

}

  .carruseles{
    width: 300%;
    height: 100%;
    display: flex;
}

.slider-section{
    width: calc(100% /3);
    height: 100%;
    
}
.slider-section img{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    align-items: center;
  }

.btn-left, .btn-right{
    display: flex;
    position: absolute;
    top:50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(39, 255, 237);
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}
.btn-left{
    left: 10px;
}
.btn-right{
    right: 10px;
}

/* pagina qs*/

.banner{
    width: 100%;
    height: 600px;
    overflow: hidden;
    justify-content: center;
    position: initial;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}



.nosotros{
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
}

.nos-img{
    width: 50%;
    height: 100%;
    background-color: #56caff;
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.nos-img img{
    width: 200px;
    align-self: center;
}

.nos-img img:hover{
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.5s ease;
}

.nos-tex{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0004ff;
}

.nos-tex h3{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.nos-tex p{
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
}
.cont{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;

}
.card{
    width: 80%;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card img{
    width: 200px;
    align-self: center;
}

.card h3{
    padding: 15px;
    text-align: center;
}
.card p{
    line-height: 1.5;
    font-family: 'cabin', sans-serif;
    color: #6a6a6a;
    padding: 10px;
    font-weight: 400;
}
@media(max-width: 730px) {
    .cont{
        flex-direction: column;
    }
    .banner{
        height: 300px;
    }


}

/*login*/
.login{
    align-items: center;
	margin-right: 10px;
	margin-left: 10px;
	justify-content: center;
    position: relative;

}
.form{
padding: 100PX;
}
   /* foooter */
.footer {
	background-color:var(--footer-bg);
}
.pie{
	position: relative;
	width: 100%;
	bottom: 0px;
    background-color: var(--footer-bg);
}

#footer{
	grid-area: footer;
}